.Message_Details{
    width: 7rem;
    margin: 0 auto;
    padding-top: 0.5rem;
}
.Details_Name{
    width: 1rem;
    height: 0.4rem;
    font-family: PingFang-SC-Heavy;
    font-size: 0.24rem;
    color: #333333;
    display: block;
    margin: 0 auto;
}
.Details{
    font-family: PingFang-SC-Medium;
    font-size: 0.24rem;
    color: #999999;
}
.Details p{
    text-indent:2em
}
.Details img{
    width: 6.96rem;
    height: 4.62rem;
    margin: 0 auto;
}
.Details span{
    display: block;
    width: 6.9rem;
    text-align: right;
    font-size: 0.2rem;
    color: #999999;
}