*{
    padding: 0;
    margin: 0;
}
html,body{
    height: 100%;
}
.PalSuccess{
    width: 100%;
}
.Play_item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self:center;
    font-size: 0.3rem;
    color: #ff8125;
    padding-top: 1.73rem;
}
.suuc{
    margin: 0.3rem 0rem 0.8rem 0rem;
    font-size: .3rem
}
.Play_item img{
    width: 2.43rem;
	height: 2.48rem;
}
.get{
    display: flex;
    flex-direction: column;
    font-family: SimHei;
	font-size: 0.24rem;
	color: #333333;
}
.get span:nth-of-type(1){
    margin-bottom: 0.2rem;
}
.get span:nth-of-type(2){
    font-family: SimHei;
	text-decoration: underline;
	font-size: 0.2rem;
	color: #999999;
}
.reward{
    width: 100%;
    height: 1rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    background-image: url(../images/index/stripe.png);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: SimHei;
	font-size:0.22rem;
	color: #333333;
}
.reward img{
    width: 0.5rem;
    height: 0.52rem;
}
.choose{
    width: 6.3rem;
    display: flex;
    justify-content: space-between;
}
.choose div{
    width: 3rem;
	height:0.8rem;
    border-radius: 0.06rem;
    text-align: center;
    line-height: 0.8rem;
    font-family: SimHei;
    font-size: 0.24rem;
}
.choose div:nth-of-type(1){
    border: solid 1px #666666;
	color: #666666;
}
.choose div:nth-of-type(2){
    background-image: linear-gradient(0deg, 
		#fe4a03 0%, 
		#ffa810 100%), 
	linear-gradient(
		#aaaaaa, 
		#aaaaaa);
	background-blend-mode: normal, 
		normal; 
        color: #ffffff;
}