*{
    padding: 0;
    margin: 0;
}
.SHeader{

    padding: 0.3rem;
    /*box-sizing: border-box;*/
    background-color: #ffffff;

}
.Search_Shop,.SearchShop{
    width: 7.5rem;
    margin: 0 auto;
    background-color: #F6F6F6;
}
.searchBox{
    position: relative;
    width: 6.27rem;
    height: 0.6rem;
    display: flex;
    justify-content: flex-start
}
.searchBox input{
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size:0.22rem;
    border-radius:0.3rem;
    border: solid 1px #dddddd;
    color:#ccc;
    -web-kit-appearance:none;
    -moz-appearance: none;
    outline:0;
    padding-left: 0.6rem;
    text-decoration:none;
    background-color: #f6f6f6;
}
.searchBox input[type="text"]:focus{
    border:1px solid #ff7496;
}
.searchBox img{
    position: absolute;
    left: 0.2rem;
    top: 0.15rem;
    width: 0.3rem;
}
.searchBox span{
    display: block;
    width: 0.8rem;
    height: 0.3rem;
    text-align: center;
    line-height: 0.6rem;
    font-size: 0.22rem;
    color: #999999;
}
.Search_Heard{
    display: flex;
    justify-content: flex-start;
    background-color: #ffffff;
}
.Search_species{
    width: 3.75rem;
    font-size: 0.24rem;
    text-align: center;

}
.Search_species span{
    font-family: PingFang-SC-Medium;
    font-size: 0.24rem;
    color: #ffa800;
}
.Search_D span{
    font-family: PingFang-SC-Medium;
    font-size: 0.24rem;
    color: #333333;
}
.species{
    width: 3.75rem;
    height: 0.02rem;
    background-color: #ffa800;
    margin-top: 0.3rem;
}
.Nochoose{
    background-color: #F6F6F6;
}
.Goods_category{
    width: 7.5rem;
    height: 0.8rem;
    display: flex;
    justify-content: flex-start;
    border-bottom: 0.01rem solid #cccccc;
    background-color: #ffffff;
    margin-bottom: 0.3rem;
}
.category{
    width: 2.5rem;
    height: 0.8rem;
    font-family: PingFang-SC-Medium;
    font-size: 0.24rem;
    color: #999999;
    text-align: center;
    line-height: 0.8rem;
}
.merchants{
    width: 7.5rem;
    height: 2rem;
    background-color: #ffffff;
    border: 0.01rem solid red;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.2rem;
}
.merchants_Img{
    width: 3.01rem;
    padding: 0.2rem;
    box-sizing: border-box;
}
.merchants_Img img{
    width: 2.61rem;
    height: 1.6rem;
}
.ShopData{
    width: 4.09rem;
    font-size: 0.24rem;
}
.Shop_Text{
    font-size: 0.2rem;
    margin-bottom: 0.1rem;
}
.shop_state{
    width: 0.8rem;
    height: 0.3rem;
    border-radius: 0.04rem;
    border: solid 0.01rem #2c972e;
    color: #2e8b37;
}
.state{
    border: solid 0.01rem #999999;
    color: #999999;
}
.Shop_giving{
    font-family: PingFang-SC-Medium;
    font-size: 0.24rem;
    color: #f22126;
    margin: 0 0.2rem;
}
.Shop_Address{
    width: 0.82rem;
    height: 0.3rem;
    background-color: #ededed;
    border-radius: 0.04rem;
    color: #666666;
}
.preferential_Name{
    width: 4.09rem;
    height: 0.24rem;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0.08rem;
}
.preferential_Name img{
    width: 0.24rem;
    height: 0.24rem;
}
.preferential_Name span{
    width: 3.85rem;
    font-size: 0.2rem;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;

}
