*{
    padding: 0;
    margin: 0;
}
html,body{
    height: 100%;
}
.SubmitOrders{
    width: 100%;
    background-color: #F6F6F6;
}
.Header{
    width: 7.3rem;
    height: 1.26rem;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 0.2rem 0.3rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.map{
    width: 0.37rem;
    height: 0.44rem;
    background-image: url(../images/index/icon_mark.png);
    background-size: 100% 100%;
    margin-right: 0.2rem;
}
.data{
    height: 1.26rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.Address{
    font-family: STHeiti;
	font-size: 0.28rem;
	color: #333333;
}
.MyAddre{
    margin-top: 0.15rem;
}
.Address p:nth-of-type(2){
	font-size: 0.24rem;
	color: #cccccc;
}
.Address span:nth-of-type(1){
    margin-right: 0.4rem
}
.more{
    width: 0.16rem;
    height: 0.3rem;
    background-image: url(../images/index/icon_left.png);
    background-size: 100% 100%;
}
.barcode{
    width: 7.3rem;
    height: 0.09rem;
    background-image: url(../images/index/barcode.png);
    background-size: 100% 100%;
    margin: 0 auto;
}
.Goods{
    width: 7.3rem;
    background-color: #ffffff;   
    padding: 0.2rem;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 0.3rem;
}
.order{
    height: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.order_img{
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 0.2rem;
}
.order_img img{
    width: 1.6rem;
    height: 1.6rem;
}
.order_name{
    font-family: STHeiti;
	font-size: 0.24rem;
	color: #333333;
}
.order_species{
    font-family: STHeiti;
	font-size: 0.2rem;
    color: #999999;
    margin: 0.2rem 0rem;
}
.order_species span:nth-of-type(1){
    margin-right: 0.5rem;
}
.poice{
    font-size: 0.24rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: STHeiti;
    color: #ff0000;
    font-size: 0.24rem;	
}
.money span:nth-of-type(2){   
	font-size: 0.36rem;	
}
.poice div:nth-of-type(2){
    font-family: STHeiti;
	font-size: 0.28rem;
	color: #999999;
}
.freight{
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: STHeiti;
	font-size: 0.24rem;
    color: #333333;
    border-bottom: 0.01rem solid #eee;
}
.Courier span:nth-of-type(1){
    margin-right: 0.2rem;
}
.Leave{
    width: 100%;
    height: 0.8rem;
    border-bottom: 0.01rem solid #eeeeee;
    font-size: 0.28rem;
    display: flex;
    justify-content: flex-start;
    line-height: 0.8rem;
}
.name{
    width: 5.4rem;
    overflow: hidden;
    outline:medium;
    border:none;
    padding: 0rem 0.2rem;
    box-sizing: border-box;
}
.combined{
    width: 100%;
    height: 0.8rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.24rem;
	color: #999999;
}
.combined span:nth-of-type(2){
    margin: 0 0.2rem;
    font-size: 0.3rem;
	color: #333333;
}
.total{
    width: 100%;
    height: 0.97rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.24rem;
    color: #333333;
    background-color: #ffffff;
    margin-top: 0.3rem;
}
.porice{
    width: 4.5rem;
    height: 0.97rem;
    text-align: right;
    line-height: 0.97rem;
    padding: 0rem 0.5rem;
    box-sizing: border-box; 
}
.porice span:nth-of-type(2){
    font-size: 0.24rem;
	color: #ff0000;
}
.porice span:nth-of-type(3){
    font-size: 0.3rem;
	color: #ff0000;
}
.Sumit{
    width: 3rem;
    height: 0.97rem;
    background-image: linear-gradient(0deg, 
		#fe4a03 0%, 
		#ffa810 100%), 
	linear-gradient(
		#ef1c20, 
		#ef1c20);
	background-blend-mode: normal, 
        normal;
    font-size: 0.3rem;
    color: #ffffff;
    text-align: center;
    line-height: 0.97rem;
}